
ul {
    list-style-type: none;
}

a:link, a:visited {
    color: rgb(122, 116, 116);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: orange;
}

.active {
    background-color: greenyellow;
}
