<ul>
<li>
  <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
</li>
<li>
  <a [routerLink]="['/route1']" routerLinkActive="active">Route1</a>
</li>
<li>
  <a [routerLink]="['/route2']" routerLinkActive="active">Route2</a>
</li>
</ul>
